[submodule "Engine/Libs/assimp"]
	path = Engine/Libs/assimp
	url = https://github.com/assimp/assimp.git
	branch = master
[submodule "Engine/Libs/crc32c"]
	path = Engine/Libs/crc32c
	url = https://github.com/google/crc32c.git
	branch = origin/master
[submodule "Engine/Libs/HWCPipe"]
	path = Engine/Libs/HWCPipe
	url = https://github.com/ARM-software/HWCPipe.git
[submodule "Engine/Source/ThirdParty/stb"]
	path = Engine/Source/ThirdParty/stb
	url = https://github.com/nothings/stb.git
[submodule "Engine/Source/ThirdParty/gli"]
	path = Engine/Source/ThirdParty/gli
	url = https://github.com/g-truc/gli.git
